.do-seu-jeito{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 69px;
    padding: 95px 11.45vw 95px 11.45vw;
}

.do-seu-jeito_image{
    width: 498px;
}

.do-seu-jeito_to-paste-title-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.do-seu-jeito_to-paste-title-txt_title{
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.do-seu-jeito_to-paste-title-txt_txt{
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

@media(max-width: 934px){
    .do-seu-jeito_image{
        width: 200px;
    }
}

@media(max-width: 600px){
    .do-seu-jeito{
        flex-direction: column;
        gap: 40px;
    }

    .do-seu-jeito_image{
        width: 80vw;
        max-width: 400px;
    }

    .do-seu-jeito_to-paste-title-txt{
        text-align: center;
    }
}